includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - packages/vehicle-data-core/src
        - packages/vehicle-data-core/database
        - scripts
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
